---
import TabsIsland from '../components/TabsIsland.astro';
---

<section id="leistungen" class="scroll-mt-24 bg-white py-32 px-4 sm:px-10 lg:px-24">
  <div class="max-w-6xl mx-auto text-center" data-aos="fade-up">
    <h2 class="text-3xl md:text-4xl font-bold font-josefin text-gray-800">
      Unsere Leistungen
    </h2>

    <!-- Zarter Trenner -->
    <div class="w-12 h-1 mx-auto bg-[#d3b5b7] mt-4 mb-12 rounded-full"></div>

   

    <!-- Tabs-Insel darunter -->
    <div class="mt-20" data-aos="fade-up">
      <TabsIsland />
    </div>
  </div>
</section>
